.functions { grid-area: up; }
.variables { grid-area: mid; }
.objects { grid-area: cent; }
.events { grid-area: down; }

.grid-container {
    display : grid;
    grid-template-areas: 
    'up up up up'
    'mid mid cent cent'
    'down down down down';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    

}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}

.grid-container a {
    display: block;
    padding: 50px 50px;
}

a:hover{
    background-color:rgba(255, 255, 255, 0.8)
}

a:link{
    text-decoration: none;
}